version: '3'

services:
  app:
    image: sino
    environment:
      treakey: ${treakey}
      injkey: ${injkey}
      opkey: ${opkey}
      apiKey: ${apiKey}
      authDomain: ${authDomain}
      projectId: ${projectId}
      storageBucket: ${storageBucket}
      messagingSenderId: ${messagingSenderId}
      appId: ${appId}
      measurementId: ${measurementId}
      jwt_secret: ${jwt_secret}
      startLotteryID: ${startLotteryID}
      closeLotteryID: ${closeLotteryID}
      drawLotteryID: ${drawLotteryID}
    ports:
      - '3000:3000'